<div class="login-main-wrapper">

  <div class="login-form-wrapper">
    <div class="login-form-label-wrapper">
      <span class="login-form-label">Login</span>
    </div>

    <div class="p-field p-grid">
      <label for="username" class="p-col-fixed" style="width:100px">Username</label>
      <div class="p-col">
        <input id="username" type="text" pInputText>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="password" class="p-col-fixed" style="width:100px">Password</label>
      <div class="p-col">
        <input id="password" type="password" pInputText>
      </div>
    </div>
    <div class="p-field p-grid">

      <div class="p-col">
        <button pButton pRipple type="button" label="Login"></button>
      </div>
    </div>
  </div>
</div>
